.aboutme-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;
}

.aboutme-cabecalho__logo {
    width: 5rem;
    margin-bottom: 0.5rem;
}

.aboutme-cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-bottom: 1rem;
}

@media(min-width: 800px) {
    .aboutme-cabecalho__logo {
        width: 7rem;
        margin-bottom: 1rem;
    }

    .aboutme-cabecalho__titulo {
        margin-bottom: 2rem;
    }
}