.cartao {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.cartao p {
    line-height: 1.75rem;
}

.cartao__titulo {
    font-size: var(--fonte-tamanho-cartao-titulo);
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.cartao__list {
	display: flex;
	justify-content: space-evenly;

	font-size: 1rem;
	margin-top: 1.5rem;
}

.cartao__list li {
    line-height: 1.75rem;
    margin-bottom: 0.3rem;
}